@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
@import "colorstyle.css";
/* O arquivo colorstyle.css contém as variáveis de cores que serão utilizadas
  variável: --main-color
  Cor de destaque: var(--main-color)
  Cor de título: var(--main-txt-color)
  Cor de texto: var(--second-txt-color)
*/
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0px;
}

body,html{
  height: 100%;
  font-family: sans-serif;
  background: url('../img/MainPiclite.png') center;
  background-attachment: fixed;
}

.services-section{
  //display: flex;
  //flex-wrap: wrap;
  //height: 100%;
  overflow: hidden;
}

.inner-width{
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding: 0 20px;
  overflow: hidden;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  //max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}
.flex > div{
  color: white;
  display: block;
  cursor: pointer;
  flex: 1 1 300px;
  margin: 30px;
  //background-color: tomato;
}

.flex > p{
  max-width: 300px;
}

.flex > div :hover .service-icon{
  background: var(--main-color);
  color: var(--main-txt-color);
}

.flex .title{
  font-family: OCR A Std, monospace;
  font-size: 20px;
  text-transform: uppercase;
  font-style: normal;
}

.flex .desc{
  font-size: 17px;
  color: var(--second-txt-color);
}

.section-title{
  text-align: center;
  color: var(--main-txt-color);
  text-transform: uppercase;
  font-size: 35px;
  font-family: OCR A Std, monospace;
  padding-top: 30px;
}

.section-date{
  text-align: center;
  color: var(--second-txt-color);
  text-transform: uppercase;
  font-size: 16px;
}

.section-login-info{
  padding-top: 10px;
  text-align: center;
  color: var(--second-txt-color);
  text-transform: uppercase;
  font-size: 12px;
}
.border{
  width: 160px;
  height: 2px;
  background: var(--main-color);
  margin: 30px auto;
}

.service-icon{
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 3px solid var(--main-color);
  color: var(--main-color);
  transform: rotate(45deg);
  margin-bottom: 30px;
  margin-top: 16px;
  transition: 0.3s linear;
}
.service-icon i{
  line-height: 70px;
  transform: rotate(-45deg);
  font-size: 26px;
}
.service-box:hover .service-icon{
  background: var(--main-color);
  color: var(--main-txt-color);
}

@media screen and (max-width:1280px) {
  ::-webkit-scrollbar {
    width: 5px;
  }
}

@media screen and (max-width:480px) {
  .flex .title{
    font-size: 15px;
  }

  .flex .desc{
    font-size: 15px;
  }

  .section-title{
    font-size: 30px;
    padding-top: 20px;
  }

  .section-date{
}
