@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
@import "colorstyle.css";
/* O arquivo colorstyle.css contém as variáveis de cores que serão utilizadas
  variável: --main-color
  Cor de destaque: var(--main-color)
  Cor de título: var(--main-txt-color)
  Cor de texto: var(--second-txt-color)
*/
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
body{
background: url('../img/MainPic.png') no-repeat;
}
.services-section{
  //background: url(../img/MainPic.png);
  background-size: cover;
  padding: 30px 0;
}
.inner-width{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  overflow: hidden;
}
.section-title{
  text-align: center;
  color: #ddd;
  text-transform: uppercase;
  font-size: 30px;
}
.section-date{
  text-align: center;
  color: #ddd;
  text-transform: uppercase;
  font-size: 18px;
}
.border{
  width: 160px;
  height: 2px;
  //background: #4caf50;
  background: #82ccdd;
  margin: 40px auto;
}
.services-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.services-quest{
  color: #ddd;
  text-align: left;
}
}
